## Docker REPO
REPO_HOST=ccr.ccs.tencentyun.com
REPO_NAME=100029014848
REPO_PW=
REPO_NAMESPACE=xyai
REPO_IMG_NAME=wgts_client_service_v3
# listen port and expose 
PORT=9008
EXPOSE_PORT=9028
CONTAINER_NAME=wgts_client_apiv3ss
MNT_CONF_VOL=.conf
MNT_DATA_VOL=build/data