## Docker REPO
REPO_HOST=ccr.ccs.tencentyun.com
REPO_NAME=100029014848
REPO_PW=
REPO_NAMESPACE=xyai
REPO_IMG_NAME=micro-nest-api
# listen port and expose 
PORT=9008
EXPOSE_PORT=9028
CONTAINER_NAME=micro-nest-api
MNT_CONF_VOL=.conf
MNT_DATA_VOL=build/data